{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6  mx-auto">
                            <form class="account-form p-4 rounded" action="{% url 'account:login' %}" method="post">

                                {% csrf_token %}
                                <h3 class="mb-4">{% trans "Sign In" %}</h3>

                                {% if form.errors %}
                                <center>
                                <div class="alert alert-primary" role="alert">
                                    {% trans " Error: Username or Password not correct!" %}
                                </div>
                                </center>
                                {% endif %}

                                <label class="form-label">{{ form.username.label}}</label>
                                {{ form.username}}<br><br>

                                <label class="form-label">{{ form.password.label}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ form.password}}<br>
                                <div class="d-grid gap-2">
                                    <input type="hidden" name="next" value="{{ next }}">
                                    <br><br>
                                    <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">
                                        {% trans "Sign in" %}
                                    </button>
                                </div>
                                <p class="text-center pb-3">
                                    <a href="{% url "account:register" %}">{% trans "Create an account" %}</a><br>
                                    <a href="/account/password_reset/">{% trans "Forgot your password?" %}</a><br>

                                </p>
                                <div class="text-center">

                {% get_providers as socialaccount_providers %}
    
                {% if socialaccount_providers %}
    
                    <div class="socialaccount_ballot">
    
                    <div class="socialaccount_providers">
                    {% include "account/snippets/provider_list.html" with process="login" %}
                    </div>

                    {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div id="content" class="float_r">

        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}