{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Register ok{% endif %}
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
                <div id="content" class="float_r">
            <main class="pt-5">
            <div class="container" style="max-width: 1000px">
                <div class="col-12">
                    <h1 class="h2">{% trans "Registration success" %}</h1><br>
                </div>
            </div>
            </main>
            </div> 

        <div class="cleaner"></div>
    </div>


</div> 
</div> 

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}