{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">
                             <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
                                {% csrf_token %}
                                <h3 class="mb-2 font-weight-bold">{% trans "Create an account" %}</h3>
                                <p class="mb-4">{% trans "It's free and only takes a minute." %}</p>
                                <center>
                                {% if form.errors %}
                                <p>{% trans "Please correct the following errors:" %}</p>
                                {% for field in form %}
                                {% if field.errors %}
                                <p style="color:red;">
                                <div class="alert alert-primary" role="alert">
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </div>
                                </p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                </center>

                                <label>{{ form.username.label }}<span class="text-muted small">
                                        {% trans "(Required)" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;</span></label>
                                {{ form.username }}<br><br>
                                <label>{{ form.email.label}}<span class="text-muted small">
                                        {% trans "(Required)" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;</span></label>
                                {{ form.email }}<br><br>
                                <label>{{ form.password.label}}<span class="text-muted mb-4">
                                        </span></label>
                                 <small class="form-text text-muted mb-4 small">
                                    {% trans "At least 8 characters and 1 digit" %}
                                </small>
                                {{ form.password }}<br><br>
                                <label>{{ form.password2.label}}<span class="text-muted small">
                                        {% trans "(Required)" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
                                {{ form.password2 }}<br><br>
                                <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">
                                {% trans "Register" %}</button>
                                <p class="text-center">
                                    <a href="{% url "account:login"%}">{% trans "Already have an account?" %}</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}