{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">

        <div id="content" class="float_r">
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">

                            <form class="login-form p-4 rounded" method="post">
                                {% csrf_token %}
                                <h1 class="h4 mb-4 font-weight-bold">{% trans "Change your password" %}</h1>
                                <p>{% trans "Use the form below to change your password." %}</p>

                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {% trans "Error: Please try again!" %}
                                </div>
                                {% endif %}

                                <label class="small font-weight-bold">{{ form.new_password1.label}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ form.new_password1 }}<br><br>
                                <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
                                {{ form.new_password2 }}
                                <ul>
                                    <li>{% trans "Your password can’t be too similar to your other personal information." %}</li>
                                    <li>{% trans "Your password must contain at least 8 characters." %}</li>
                                    <li>{% trans "Your password can’t be a commonly used password." %}</li>
                                    <li>{% trans "Your password can’t be entirely numeric." %}</li>
                                </ul>
                                <button class="btn btn-primary btn-block py-2 mb-4 mt-5 font-weight-bold" type="submit"
                                    value="Change">{% trans "Submit" %}
                                </button>
                            </form>

                            <p class="small text-center pt-4">
                                <a href="{% url "account:login" %}">{% trans "Already have an account?" %}</a>
                            </p>
                            <p class="small text-center">
                                <a href="{% url "account:register" %}">{% trans "Help Center?" %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
    </div>
</div>
        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}