{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Reset password
{% endblock %}
{% block content %}
<style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            <form class="account-form p-4 rounded col-lg-8 mx-auto" method="post" action="{% url 'account:pwdreset' %}">
                                <p class="h3 mb-4 font-weight-bold">{% trans "Forgotten your password?" %}</p>
                                    <p>{% trans "Enter your e-mail address to obtain a new password." %}</p>
                                    {% if form.errors %}
                                        <div class="alert alert-primary" role="alert">
                                            {% trans "Error: Please try again!" %}
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <label class="small font-weight-bold">{{ form.email.label}}</label>
                                    {{ form.email }}<br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"value="Send e-mail">{% trans "Send e-mail" %}</button><br>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "account:login" %}">
                                    {% trans "Login" %}</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div id="content" class="float_r">

        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}