{% extends "base.html" %}
{% load static %}
{% block title %}
Reset password
{% endblock %}
{% block content %}
<style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6  mx-auto">
                            <div class="p-4">
                                {% if 'email' in request.get_full_path %}
                                        <h3 class="mb-4">Password Reset Success</h3>
                                        <p>Check your email for instructions</p>
                                {% endif%}
                                {% if 'complete' in request.get_full_path %}
                                        <h3 class="mb-4">Password Reset Success</h3>
                                        <a href="{% url "account:login" %}">Login</a>
                                {% endif%}
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div id="content" class="float_r">

        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}