{% extends "base.html" %}
{% load static i18n%}
{% block title %}
User Wish List
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
        {% if wishlist %}
        
                <div id="content" class="float_r">
            <h1>{% trans "Wishlist" %}</h1>
            <table width="680px" cellspacing="0" cellpadding="5">
                      <tr bgcolor="#ddd">
                            <th width="220" align="left">{% trans "Image" %} </th> 
                            <th width="180" align="left">{% trans "Model" %} </th>
                            <th width="60" align="right">{% trans "Available" %} </th> 
                            <th width="60" align="right">{% trans "Price" %} </th> 
                            <th width="90"> </th>
                            
                      </tr>
                      {% for product in wishlist%}
                        <tr data-index="#" class="row mb-4 border product-item">
                            <td><img src="{{ product.image.url }}" width="175" height="175" /></td> 
                            <td>{{ product.name }}</td> 
                            <td>{% if product.available %} {% trans "Available" %} {% else %} {% trans "NotAvaible" %} {% endif %}</td>
                            <td align="right">{{ product.price }} </td> 
                            <td><a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'account:user_wishlist' product.id %}">{% trans "Remove from Wishlist" %}</a></td>
                            <!-- <td align="center"> <button type="button" id="delete-button" data-index="{{product.id}}"  class="btn btn-outline-secondary btn-sm delete-button">delete</button> </td> -->
                        </tr>
                        {% endfor %}

                    </table>

                    <div style="float:right; width: 215px; margin-top: 20px;">
                        
                    </div>
            </div>
            {% else%}
            <center>
            <h1>{% trans "You wishlist is empty" %}</h1>
            <a href="/">{% trans "Go to shop" %}</a>
            {% endif %}
            </center>
        <div class="cleaner"></div>
    </div>


</div> 
</div> 

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}