{% load i18n %}
<div id="templatemo_wrapper">



    <div id="templatemo_footer">
        <p><a href="/">{% trans "Home" %}</a> | <a href="{% url "shopsw:about_us" %}">{% trans "About" %}</a> | <a href="{% url "shopsw:faqs" %}">{% trans "FAQs" %}</a> | <a href="{% url "shopsw:contact" %}">{% trans "Contact Us" %}</a>
        </p>
        Copyright © 2021 <a href="#">SK</a> <!-- Credit: www.templatemo.com --></div> <!-- END of templatemo_footer -->

</div> 

