{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_header">
        <div id="site_title">
            {% if LANGUAGE_CODE == 'en' %}
            <h1><a href="/en/">
            {% elif LANGUAGE_CODE == 'ru' %}
            <h1><a href="/ru/">
            {% endif %}
            {% trans "Online Shoes Store" %}
            </a></h1>
        </div>
        <div id="header_right">
            <p>
            {% if LANGUAGE_CODE == 'ru' %}
            <a href="/en/{{ request.get_full_path |cut:"/ru/" }}">{% trans "Eng" %}</a> |
            {% elif LANGUAGE_CODE == 'en' %} 
            <a href="/ru/{{ request.get_full_path |cut:"/en/" }}">{% trans "Rus" %}</a> |
            {% endif %}
            <a href="{% url "account:dashboard"%}">{% trans "My Account" %}</a> | <a href="{% url "account:wishlist"%}">{% trans "My Wishlist" %}</a> |
            <a href="{% url "basket:basket_summary"%}">{% trans "My Cart" %}</a> | 
            {% if not request.user.is_authenticated %}
            <a href="{% url "account:login"%}">{% trans "Log In" %}</a></p>
            {% elif request.user.is_authenticated %}
            <a href="{% url "account:logout"%}">{% trans "Logout" %}</a></p>
            <p>
            {% endif%}
                        {% with total_qty=basket|length %}
                        {% trans " Shopping Cart:" %} 
                        <strong id='basket-qty'>
                        {% if total_qty > 0 %}
                        {{ total_qty }}
                        {% else %}
                        0
                        {% endif %}
                        </strong> {% trans "item's" %} ( <a href="{% url "basket:basket_summary"%}">{% trans "Show Cart" %}</a> )
                        {% endwith %}
            </p>
        </div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->
    <div id="templatemo_menubar">
        <div id="top_nav" class="ddsmoothmenu">
            <ul>
                <li>
                    {% if LANGUAGE_CODE == 'en' %}
                    <a href="/en/" class="selected">{% trans "Home" %}</a>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <a href="/ru/" class="selected">{% trans "Home" %}</a>p
                    {% endif %}
                </li>
                <li><a href="{% url "shopsw:about_us" %}">{% trans "About" %}</a>
                </li>
                <li><a href="{% url "shopsw:faqs" %}">{% trans "FAQs" %}</a></li>
                <li><a href="{% url "shopsw:contact" %}">{% trans "Contact Us" %}</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
        <div id="templatemo_search">
            <form action="#" method="get">
              <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div> <!-- END of templatemo_menubar -->
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>