{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
        <div id="sidebar" class="float_l">
            <div class="sidebar_box"><span class="bottom"></span>
                <h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                    <ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="content" class="float_r">

        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}