{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} About us {% endblock %}
{% block content %}

</head>

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">


    <div id="templatemo_main">
    	<div id="sidebar" class="float_l">
            <div class="sidebar_box"><span class="bottom"></span>
                <h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                    <ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div id="content" class="float_r">
        	<h1>{% trans "About Us" %}</h1>
        	<h2>{% trans "Company Background" %}</h2>
        <p>{% trans "The sk.ua online market was created for the sale of women's, men's, children's shoes and accessories. SK.ua activities are distributed throughout Ukraine." %}</p>
        <div class="cleaner h20"></div>
        <h3>{% trans "Internet market provides" %}</h3>
		<p>{% trans "Shoes for you and your children. " %}
            {% trans "Information about changes in the price of goods and the appearance of discounts on them." %}
            {% trans "Lists of stores and online stores where you can purchase this shoe model." %}
            {% trans "Customer reviews of the model and her rating." %}
            {% trans "News reviews of collections, shows and fashion trends." %}
        {% trans "Articles on the correct choice, use, care and storage of shoes." %}</p>
        <div class="cleaner"></div>
        <blockquote>{% trans "all products are original" %}
        </blockquote>
        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}