{% load static %}
{% load i18n %}
{% block styles%}

<link href="/static/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/ddsmoothmenu.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js">

</script>

<script type="text/javascript">

ddsmoothmenu.init({
    mainmenuid: "top_nav", //menu DIV id
    orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
    classname: 'ddsmoothmenu', //class added to menu's outer DIV
    // customtheme: ["#1c5a80", "#18374a"],
    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
{% endblock styles%}
    {% include "includes/header.html" %}
     {% block content %}

     {% endblock %}
    {% include "includes/footer.html" %}