{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_main">
        <div id="sidebar" class="float_l">
            <div class="sidebar_box"><span class="bottom"></span>
                <h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                    <ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="float_r">
        	<h1>{% trans "Contact Us" %}</h1>
            <div class="content_half float_l">
                <p>{% trans "We are located in the city of Ternopil Ukraine." %}</p>
                <div id="contact_form">
                   <form method="post" name="contact" action="#">
                        <center>
                                {% if form.errors %}
                                <p>Please correct the following errors:</p>
                                {% for field in form %}
                                {% if field.errors %}
                                <p style="color:red;">
                                <div class="alert alert-primary" role="alert">
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </div>
                                </p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                        </center>
                        <label for="author">{% trans "Name:" %}</label> <input type="text" id="author" name="username" class="required input_field" />
                        <div class="cleaner h10"></div>
                        <label for="email">{% trans "Email:" %}</label> <input type="text" id="email" name="email" class="validate-email required input_field" />
                        <div class="cleaner h10"></div>
                        
                        <label for="phone">{% trans "Phone:" %}</label> <input type="text" name="telephone" placeholder="+38(0**) ***-****" id="phone" class="input_field" />
                        <div class="cleaner h10"></div>
        
                        <label for="text">{% trans "Message:" %}</label> <textarea id="text" name="comment" rows="0" cols="0" class="required"></textarea>
                        <div class="cleaner h10"></div>
                        
                        <input type="submit" class="submit_btn" name="submit" id="submit" 
                        value="{% trans "Send" %} "  />
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        <div class="content_half float_r">
        	<h5>{% trans "Primary Office" %}</h5>
            {% trans "Ukraine, Ternopil" %}
			{% trans "Phone:" %} 010-010-6600<br />
			{% trans "Email: " %}<a href="mailto:info@yourcompany.com">sergiykov94@gmail.com</a><br/>
			
            <div class="cleaner h40"></div>
        </div>
        
        <div class="cleaner h40"></div>
        
<!--         <iframe width="680" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Central+Park,+New+York,+NY,+USA&amp;aq=0&amp;sll=14.093957,1.318359&amp;sspn=69.699334,135.263672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Central+Park,+New+York,+NY,+USA&amp;ll=40.778265,-73.96988&amp;spn=0.033797,0.06403&amp;t=m&amp;output=embed"></iframe> -->
            
        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}