{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">
    <div id="templatemo_main">
        <div id="sidebar" class="float_l">
            <div class="sidebar_box"><span class="bottom"></span>
                <h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                    <ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="float_r faqs">
        	<h1>{% trans "FAQs" %}</h1>
            <h5>{% trans "What is Try and Buy Service?" %}</h5>
            <p>{% trans "This service entitles you to try out your purchases at the time of delivery, pay only for what you like and return the rest on-the-spot. Try and Buy is a paid service, available on most of the products and in 31 Cities, you can enter pin code on product page to check service availability. Try and Buy is only available on orders containing items in cart. To avail this service min. order value should be Rs.1199 and above. To avail the service, please ensure that you tick the 'Try and Buy' box on check-out page and choose delivery address where you are comfortable trying product. Terms of service may differ for our new customers" %}
            </p>
            
          <h5>{% trans "How do I cancel the order, I have placed?" %}</h5>
            <p>{% trans "Order can be canceled till the same is out for delivery. Note: This may not be applicable for certain logistics partner. You would see an option to cancel within 'My Orders' section under the main menu of your App/Website/M-site then select the item or order you want to cancel. In case you are unable to cancel the order from'My Orders' section, you can refuse it at the time of delivery and refund will be processed into the source account, if order amount was paid online." %}</p>
            
            <h5>{% trans "What payment methods do you accept?" %}</h5>
            <p>{% trans "PayPal and 2Checkout (2CO)" %}</p>
            
            <h5>{% trans "How do I know if online ordering is secured?" %}</h5>
            <p>
            {% trans "Protecting your information is a  top priority for this site. We use Secure Sockets Layer (SSL) to encrypt your  credit card number, name and address, so only this site is able to decode  your information. SSL is the industry standard method for computers to  communicate securely without risk of data interception, manipulation or  recipient impersonation. To be sure your connection is secure; when you are in  the Shopping Cart, look at the lower corner of your browser window. If you see  an unbroken key or closed lock, the SSL is active and your information is  secure. Since most of the customers are still uncomfortable with providing your  credit card online, we use PayPal and 2CheckOut services and they do not need to  give out credit card information." %}</p>
          <p>
          {% trans "This site is registerd with HackerGuardian. HackerGuardian certification for  a hacker free website and a Credit Card TrustLogo confirming your  trustworthiness to take credit card details online." %}</p>

			
            <h5>{% trans "What is your privacy policy?" %}</h5>
            <p>{% trans "This website respects your privacy and ensure that  you understand what information we need to complete your order, and what  information you can choose to share with us and with our marketing partners.  For complete information on our privacy policy, please visit our " %}<a href="#">{% trans "Privacy Policy" %}</a>  {% trans "page." %}</p>
        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->

</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}