{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<body>
<!--  -->
<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_main">
    	<div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
            	<h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="float_r">
        	<div id="slider-wrapper">
                <div id="slider" class="nivoSlider">
                    {% for slider in sliders %}
                    <a href="#"><img src="{{ slider.image.url }}" alt="" width="600" height="336" ></a>
                    {% endfor %}
                </div>

            </div>

        	<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
            {% for product in page_obj %}
            <div class="product_box">
	            <h3>{{ product.name }}</h3>
            	<img src="{% if product.image %}{{ product.image.url }}{% endif %}"width="200" height="200">
                <p>{{ product.description|slice:":50" }}</p>
                <p class="product_price">{{product.price}}</p>
                <!-- <a href="shoppingcart.html" class="addtocart"></a> -->
                <a href="{{ product.get_absolute_url }}" class="detail"></a>
            </div>
            {% endfor %}

            <div class="cleaner"></div>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
{% block scripts %}

            <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
            <script type="text/javascript" src="/static/js/jquery.nivo.slider.pack.js"></script>
            <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
            </script>
{% endblock scripts %}
{% endblock %}