{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">
    
    <div id="templatemo_main">
    	<div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
                <h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                    <ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="float_r">
        	<h1>{{ product.name }}</h1>
            <div class="content_half float_l">
        	<a  rel="lightbox[portfolio]" href="images/product/10_l.jpg"><img src="{% if product.image %}{{ product.image.url }}{% endif %}"  width="275" height="250"></a>
            </div>
            <div class="content_half float_r">
                <table>
                    <tr>
                        <td width="160">{% trans "Price:" %}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Availability:" %}</td>
                        <td>{% if product.available %} {% trans "Available" %}{% endif %}</td>
                    </tr>
                    <tr>
                    	<td>Quantity</td>
                        <td><select id="select" style="width: 40px; text-align: center" />
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            </select>
                        </td>
                    </tr>
                </table>

            <!-- add cart -->
                <div class="cleaner h20"></div>
                <button type="button" id="add-button" value="{{product.id}}" class="addtocart">{% trans "Add to basket" %}</button><br><br>
                <a href="{% url "account:user_wishlist" product.id %}">{% trans "Add to wishlist" %}</a><br>
			</div>
            </div>
            <div class="cleaner h20"></div>


            <div class="cleaner h30"></div>
            
            <h5>{% trans "Product Description" %}</h5>
            <p>{{product.description }}
            
          <div class="cleaner h50"></div>
        </div> 
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->

    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

            <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
            <script type="text/javascript" src="/static/js/jquery.nivo.slider.pack.js"></script>
            <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
            </script>

{% endblock scripts %}
{% endblock %}