{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Basket Summary

{% endblock %}
{% block styles%}

<link href="/static/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="/static/css/ddsmoothmenu.css" />

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>
{% endblock styles%}
{% block content %}<!-- templatemo 367 shoes -->

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_main">
    	<div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
                <h3>{% trans "Categories" %}</h3>   
                <div class="content"> 
                    <ul class="sidebar_list">
                    <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shopsw:product_list" %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                <center><h4>Coupon</h4></center>
                <form action="{% url "coupons:accept" %}" method="post">
                <input type="hidden" name="current_url" value={{request.path}}> 
                <input type="text" id="user" name='code' >
                <input type="submit" >
                
                {% csrf_token %}
                
            </form>
            {% if basket.coupon %}
            {% with code=basket.coupon.code discount=basket.coupon.discount %}
                {{ code }} coupon {{discount }} % off
                {% endwith %}
            {% endif %}
            </div>
            
        </div>
        <div id="content" class="float_r">
            {% if basket %}
        	<h1>{% trans "Shopping Cart" %}</h1>
        	<table width="680px" cellspacing="0" cellpadding="5">
                   	  <tr bgcolor="#ddd">
                        	<th width="220" align="left">{% trans "Image" %} </th> 
                        	<th width="180" align="left">{% trans "Model" %} </th> 
                       	  	<th width="100" align="center">{% trans "Quantity" %} </th> 
                        	<th width="60" align="right">{% trans "Price" %} </th> 
                        	<th width="60" align="right">{% trans "Total" %} </th> 
                        	<th width="90"> </th>
                            
                      </tr>
                            {% for item in basket %}
                            {% with product=item.product%}
                    	<tr data-index="{{product.id}}" class="row mb-4 border product-item">
                        	<td><img src="{{ product.image.url }}" width="175" height="175" /></td> 
                        	<td>{{ product.name }}</td> 
                            <td align="center">{{ item.qty }} </td>
                            <td align="right">{{ item.price }} </td> 
                            <td align="right">{{ item.total_price}}</td>
                
                            <td align="center"> <button type="button" id="delete-button" data-index="{{product.id}}"  class="btn btn-outline-secondary btn-sm delete-button">{% trans "delete" %}</button> </td>
						</tr>

                    {% endwith %}
                    {% endfor %}

                        
                        <tr>
                        	<td colspan="3" align="right"  height="30px">{% trans "You total price:" %} &nbsp;&nbsp;</td>
                            <td align="right" style="background:#ddd; font-weight:bold"> Total </td>
                            <td align="right" style="background:#ddd; font-weight:bold" id="subtotal">{{ basket.get_total_price}} </td>
                            <td style="background:#ddd; font-weight:bold"> </td>
						</tr>
                        {% if basket.coupon %}
                        <tr>
                            <td colspan="3" align="right"  height="30px">{% trans "Discount :" %} &nbsp;&nbsp;</td>
                            <td align="right" style="background:#ddd; font-weight:bold"> </td>
                            <td align="right" style="background:#ddd; font-weight:bold" id="subtotal">{{ basket.get_discount }} </td>
                            <td style="background:#ddd; font-weight:bold"> </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="right"  height="30px">{% trans "With Discount :" %} &nbsp;&nbsp;</td>
                            <td align="right" style="background:#ddd; font-weight:bold"> </td>
                            <td align="right" style="background:#ddd; font-weight:bold" id="subtotal">{{ basket.get_total_price_after_discount }} </td>
                            <td style="background:#ddd; font-weight:bold"> </td>
                        </tr>
                        {% endif %}


                </table>


                    <div style="float:right; width: 215px; margin-top: 20px;">
                    
					<p><a href="{% url "orders:order_create"%}">{% trans "Proceed to checkout" %}</a></p>
                    <p><a href="{{categories.first.get_absolute_url}}">{% trans "Continue shopping" %}</a></p>
                    	
                    </div>
            {% else%}
            <center>
            <h1>{% trans "You cart is empty" %}</h1>
            {% trans "Go to shop and choose some shoe" %}
            {% endif %}

                
		</div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->


        
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_delete" %}',
            data: {
                productid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                console.log(prodid)
                $('.product-item[data-index="' + prodid + '"]').remove();
                document.getElementById("subtotal").innerHTML = json.subtotal;
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>
{% endblock scripts %}
{% endblock %}