{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    
    <div id="templatemo_main">
        <title>{% trans "Checkout" %}</title>
        <script src="https://js.stripe.com/v3/"></script>
        <div class="my-50 container">
          <div class="order">
            <div class="order_group">

              <form action="#" method="post" class="order-form">
              <div class="title">{% trans "Recipient of the order" %}</div>
              <div class="order_box">
              <div   class="input input-grey">
              <div class="input_box btn">

              <input class="input-field" 
              type="text" 
              id="contact_name" 
              name="first_name" 
              placeholder="Имя" " 
              aria-invalid="true"
              {% if request.user.is_authenticated %}
              value="{{ user }}   "
              {% endif %}>
              </div>
              </div>

              <div class="input input-grey">
              <div class="input_box btn">
              <input class="input-field "
              type="tel" 
              name="phone_number"
              placeholder="+38(0**) ***-****" 
              aria-invalid="true"
              {% if request.user.is_authenticated %}
              value="{{ user.phone }}"
              {% endif %}>
              </div>
              </div>

              <div class="input input-grey">
              <div class="input_box btn">
              <input class="input-field error"
              name="email" 
              placeholder="email_form" 
              type="text"
              aria-required="true"
              aria-invalid="true"
              {% if request.user.is_authenticated %}
              value="{{ user.email }}"
              {% endif %}>
              </div>
              </div>

              <div class="input input-grey">
              <div class="input_box btn">
              <textarea class="input-field  "
              name="comment"
              placeholder="Напишіть коментар" 
              ></textarea>
              </div>
              <button class="btn btn-yellow">{% trans "Make out" %}</button>
              {% csrf_token %}
              </div>
              </div>
              </div>

              </div>
              </div>

        </div>

        </form>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

</body>
</html>
{% block scripts %}

{% endblock scripts %}
{% endblock %}